<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper file: 실행 할 쿼리 문을 저장하는 파일. 테이블 하나당 한개씩 작성 namespace: 작업하는 테이블들을 
	구분해주기 위한 식별자 -->
<mapper namespace="com.happyhouse.mapper.BoardMapper">

	<select id="selectAll" parameterType="Integer"
		resultType="Board">
		select * from board where admin = #{type} order by no desc
	</select>

	<select id="selectOne" parameterType="Integer"
		resultType="Board">
		select * from board where no = #{no}
	</select>

	<insert id="insert" parameterType="Board">
		insert into board(title,
		content, wdate, count, admin, id)
		values(#{title}, #{content}, now(),
		0, #{admin}, #{id})
	</insert>

	<update id="update" parameterType="Board">
		update board set
		title = #{title}, content=#{content} where no = #{no}
	</update>

	<update id="countUp" parameterType="Integer">
		update board set
		count=count+1 where no = #{no}
	</update>

	<delete id="delete" parameterType="Integer">
		delete from board where no = #{no}
	</delete>

</mapper>






