<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper file: 실행 할 쿼리 문을 저장하는 파일. 테이블 하나당 한개씩 작성 namespace: 작업하는 테이블들을 
	구분해주기 위한 식별자 -->
<mapper namespace="com.happyhouse.mapper.MemoMapper">

	<select id="selectAll" parameterType="String" resultType="Memo">
		select * from memo where boardno = #{boardno} order by memotime
	</select>

	<insert id="insert" parameterType="Memo">
		insert into memo
		values(#{memono}, #{id}, #{comment}, now(), #{boardno})
	</insert>

	<update id="update" parameterType="Memo">
		update memo set
		comment=#{comment} where memono = #{memono}
	</update>

	<delete id="delete" parameterType="String">
		delete from memo where memono = #{memono}
	</delete>

</mapper>






